[submodule "Assets/Models"]
	path = Assets/Models
	url = https://github.com/ISSDEFIANT/Star-Trek-Defence-Line-models
[submodule "Assets/SpaceUnity"]
	path = Assets/SpaceUnity
	url = https://github.com/ISSDEFIANT/Star-Trek-Defence-Line-SU
